@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-color: lightblue;
}

header {
    height: 100px;
    background-color: rgb(57, 93, 190);
    line-height: normal;
    padding: 10px;
    display: grid;
}

img.logo {
    height: 100%;
    grid-column: 1;
}

header h1 {
    margin-top: 10px;
    grid-column: 2;
    font-size: 50px;
    color: white;
    font-family: 'Itim', cursive;
}