@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body {
    background-color: white;
    color: black;
    margin: 0;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.logo {
    float: left;
    height: 100%;
    width: auto;
}

header p {
    position: relative;
    top: 0; left: 10px;
    font-family: 'Modak', cursive;
    font-size: 75px;
    color: white;
}

#menu {
    margin: 0;
    font-family: 'Modak', cursive;
}

#menu p {
    color: black;
    font-size: 50px;
}